* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
}

button {
  background-color: white;
  border: none;
  font-size: 2em;
  margin-left: 2%;
}

.PSM-toggle {
  float: right;
}

#container {
  float: right;
  text-align: right;
  height: 70%;
  margin-right: 2%;
}

h1 {
  text-align: center;
  font-size: 13em;
  margin-bottom: -9%;
}

h1 .low-usage {
  color: #2ecc71;
}

h1 .medium-usage {
  color: #f1c40f;
}

h1 .high-usage {
  color: #e74c3c;
}

#left {
  width: 62%;
  float: left;
  height: 100%;
}

#right{
  width: 38%;
  background-color: black;
  float: left;
  height: 100%;
}

img {
  height: 100%;
  margin-left: -1%;
}
